@import '../../../assets/styles/_var.scss';

.customBackdrop{
    background: rgba(0, 0, 0, 0.75);
    opacity: 1 !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.customModal.modal-lg{
    max-width: 1440px;

    .modal-content{
        border-radius: 0px;
        background: $bgNFTCard;
        border-radius: 10px;
        .modal-header{
        background: $bgNFTCard;
        border-bottom-color: $sepratorCard;
        .modal-title.h4{
        font-size: 16px;
        font-weight: 400;
        color: $light;
        border-radius: 10px;
        }
        }
    }
} 