@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;0,700;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

$baseFont: 'IBM Plex Mono', monospace;
$baseBg:#01012A;

$highlightColor:#FF2B6E;

$textWhite:#ffffff;
$textWhite08:rgba(255,255,255,0.8);
$textWhite05:rgba(255,255,255,0.5);
$navActiveText:#0BD7E7;
$textDark:#595F75;
$textFooter:#B1B4BE;
$subtitleColor:#0BD7E7;

$borderDark:#FF2B6E;
$borderLight:#0BD7E7;
$btnOulineColor:#FF2B6E;
$btnSecOulineColor:#0BD7E7;
$mktRangeBar:#1B1B40;
$mktRangeBarFill:#FF2B6E;