@import "../../../assets/styles/_var.scss";

.raffles_card_style.card{
  margin-bottom:25px;
  border:0px;
  background: transparent;
  border:1px solid rgba(255,255,255,0.3);
  
  .card-header{
      border-bottom: 0px;
      padding-top: 22px;
      padding-bottom: 16px;
      border-radius: 10px 10px 0 0 ;
      h2{
          font-family: $titlefont;
          text-align: center;
          color: $white;
          font-size: 18px;
          margin-bottom: 14px;
      }
      ul{
          display: flex;
          justify-content: space-between;
          padding-left: 8%;
          padding-right: 8%;
          box-sizing: border-box;
          
          li{
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 21%;
              position: relative;
              
              &:not(:last-child){
                  &:before{
                      position: absolute;
                      content: ':';
                      font-size: 26px;
                      color: $white-60;
                      right: -10px;
                      top: 28%;
                      transform: translateY(-50%);
                  }
              }
              
              strong{
                  font-family: $titlefont;
                  background: $bgRaffleCard;
                  display: flex;
                  width: 100%;
                  height: 52px;
                  font-weight: normal;
                  border-radius: 11px;
                  color:$white;
                  font-size:16px;
                  font-weight: 700;
                  justify-content: center;
                  align-items: center;          
                  @media(max-width:1400px){
                      height: 67px;
                      font-size: 25px;
                  }          
              }
              span{
                  font-size: 12px;
                  color: $white;
                  display: inline-block;
                  margin-top: 5px;
                  font-family: $titlefont;
              }
          }
      }
      &.hasExpired{
          min-height: 65px;
          position: relative;

          .resultOut{
              position: absolute;
              width: 174px;
              height: 42px;
              background: $gradiantBg;
              font-size: 14px;
              color: $white;
              font-family: $titlefont;
              font-weight: 400;
              left: 0px;
              top:25px;
              padding-left: 10px;
              line-height: 42px;
              clip-path: polygon(0% 0%, 87% 0%, 100% 50%, 87% 100%, 0% 100%);
          }
      }
  }
  .card-body{
      .card-title.h5{
          font-size: 26px;
          color: $white;
          text-align: center;
          margin-bottom: 30px;
          font-family: $titlefont;
          text-transform: capitalize;
      }
      ul{
          margin-bottom: 20px;
          li{
              display: flex;
              justify-content: space-between;               
              box-sizing: border-box;
              &:not(:last-child){
                  border-bottom: 1px solid rgba(255,255,255,0.2);
                  padding-bottom: 14px;
                  margin-bottom: 10px;
              }
              
              span{
                  font-size: 14px;
                  color: $white;
              }
              strong{
                  font-size: 18px;
                  color: $white;
              }
          }
      }
      .btn.btn-primary{
          min-width: 162px;
          height: 50px;
          border-radius: 8px;
          font-size: 18px;
          font-weight: 400;
          margin-top:20px;
          margin-bottom: 15px;
          transition: all .25s;
          box-shadow: none !important;
          border:0px !important;

          &:hover{
              background:rgb(53, 52, 52) !important ;
          }
      }
  }
}

