@import "../../../../assets/styles/_var.scss";

.reset-password {
  position: relative;

  .show-pw {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 47px;
    font-size: 18px;
    color: $hovercolor;   
  }
}
