@import "../../../../assets/styles/_themevar.scss";
.home_wrap {
  background-image: url("../../../../assets/images/bowled-images/banner_stars.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.banner_sec {
  padding: 0 0 210px;
  @media (max-width: 1470px) {
    padding: 0 0 120px;
  }
  @media (max-width: 1199px) {
    padding: 0 0 155px;
  }
  @media (max-width: 767px) {
    padding: 20px 0 50px;
  }
  .banner_content {
    @media (max-width: 991px) {
      text-align: center;
    }
    h1,
    h2 {
      font-size: 120px;
      font-weight: 700;
      line-height: 110px;
      color: $white;
      text-transform: uppercase;
      font-family: $Basefont;
      margin-bottom: 0;
      @media (max-width: 767px) {
        font-size: 60px;
        line-height: 55px;
      }
    }
    .clrd {
      color: $LinkColor;
    }
    .filled {
      color: $baseColor;
      font-size: 120px;
      @media (max-width: 767px) {
        font-size: 61px;
      }
    }
    a:hover {
      color: $baseColor;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0;
      color: $white;
      font-weight: 400;
      margin: 20px 0 60px;
      font-family: $Basefont;
      @media (max-width: 1199px) {
        margin: 20px 0 30px;
      }
      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 5px;
        // br {
        //   display: none;
        // }
      }
    }
  }
  .banner-img {
    @media (max-width: 767px) {
      margin-top: 20px;
    }
    img {
      width: 100%;
    }
  }
  .social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
    @media (max-width: 1199px) {
      margin: 50px 0 0;
    }
    @media (max-width: 767px) {
      margin: 0;
    }
    li {
      margin: 0 18px;
      @media (max-width: 767px) {
        margin: 0 8px;
      }
      a {
        img {
          width: 62px;
          transition: all 0.4s;
          @media (max-width: 767px) {
            width: 40px;
          }
        }
        &:hover {
          img {
            transform: translateY(-10px);
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

.about_us {
  background: $LightBg;
  .about_box {
    text-align: center;
  }
}

.chlgOther_sec {
  .chlgOther_left {
    @media (max-width: 991px) {
      margin: auto auto 40px;
      text-align: center;
    }
    img {
      width: 85%;
    }
    @media (max-width: 1199px) {
      img {
        width: 90%;
      }
    }
  }
  .chlgOther_right {
    padding: 0 50px 0px 50px;
    width: 100%;
    @media (max-width: 1199px) {
      text-align: left;
      padding: 0 50px 0px 0px;
    }
    @media (max-width: 767px) {
      padding: 0;
    }
    .titleDiv {
      color: #e8e0e1;
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .connect_btn {
      margin-top: 20px;
    }
  }
}

.ope_sec {
  .container {
    .opeCard_wrap {
      width: 100%;
    }
  }
}

// ope card

.getAsset_sec {
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-bottom: 45px;
  }
  .getAssetLeft_Sec {
    p {
      font-size: 18px;
      font-weight: 400;
      color: $white;
      padding-right: 30px;
      @media (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
  .right_view {
    position: relative;
    .align_stylebtn {
      position: absolute;
      right: 50px;
      top: 50px;
      @media (max-width: 767px) {
        position: static;
      }
    }
    .stylish_btn {
      text-align: right;
      margin-left: auto;
      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }
  }
}

.getNft_Sec {
  padding-top: 80px;
  display: flex;
  gap: 52px;
  @media (max-width: 991px) {
    gap: 25px;
    padding-top: 50px;
  }
  @media (max-width: 767px) {
    justify-content: center;
  }
  .row {
    width: 100%;
    justify-content: space-between;
    @media (max-width: 767px) {
      justify-content: center;
    }
    .mng {
      width: 32%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.nftCard {
  border-radius: 12px;
  background: linear-gradient(164deg, #01012a 0%, #02274dd6 90%);
  padding: 30px 35px 45px;
  @media (max-width: 991px) {
    margin-bottom: 20px;
    padding: 20px 10px 25px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
    padding: 25px 40px 25px;
  }
  .nftCard_head {
    font-weight: 700;
    font-family: $Basefont;
    h3 {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: inherit;
      color: $cardbg;
      font-family: inherit;
      margin-bottom: 0;
      @media (max-width: 1199px) {
        font-size: 26px;
      }
    }
    h5 {
      color: $LinkColor;
      font-size: 36px;
      font-weight: inherit;
      font-family: inherit;
      margin-bottom: 15px;
      @media (max-width: 1199px) {
        font-size: 22px;
      }
    }
  }
  .mainNft {
    margin: 0 auto;
    width: 244px;
    height: 250px;
    padding: 27px;
    position: relative;
    $border: 4px;
    color: $white;
    border: 3px solid transparent;
    background: linear-gradient(
          135deg,
          rgba(13, 16, 70, 1) 0%,
          rgba(13, 16, 70, 1) 87%
        )
        padding-box,
      linear-gradient(30.52deg, #0ad6e7f2 0%, #8abcc763 50.2%, #c8245f 100%)
        border-box;
    border-radius: 15px;
    @media (max-width: 1199px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      width: 100%;
      height: 250px;
    }
    .divider_strip {
      background: #00000000
        linear-gradient(270deg, #ffffff00 0%, #c2bbbb 50%, #ffffff00 100%);
      height: 1px;
      width: 85%;

      opacity: 0.6;
      margin: 0 auto 10px;
    }
    .mainNft_img {
      width: 100%;
      height: 190px;
      margin: 0 auto 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1440px) {
      }
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
      img {
        // width: 100%;
      }
    }
    h5 {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 500;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 1199px) {
        font-size: 16px;
      }
    }
  }
}

// team section

.team_sec {
  padding: 100px 0;
  @media (max-width: 1470px) {
    padding: 50px 0;
  }
  @media (max-width: 767px) {
    padding: 50px 0 0;
  }
  .title_head {
    font-size: 40px;
    margin-bottom: 50px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    @media (max-width: 991px) {
      font-size: 30px;
    }
  }
}
.team_card {
  @media (max-width: 991px) {
    margin-top: 25px;
  }
  .team_member_pic {
    padding: 14px 0 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("../../../../assets/images/bowled-images/team_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: "";
      width: 0;
      height: 0;
      background: rgba(16, 92, 163, 0.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    &:hover {
      &::before {
        -webkit-animation: circle 0.75s;
        animation: circle 0.75s;
      }
    }
    img {
      width: 195px;
      height: 240px;
      object-fit: cover;
    }
  }
  .membr_detail {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .linkdin {
      position: absolute;
      right: 20px;
      top: 16px;
    }
    .heading {
      color: $white;
      font-size: 20px;
    }
    p {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

// earning with
.earn_sec {
  padding: 100px 0 200px;
  @media (max-width: 1470px) {
    padding: 50px 0 120px;
  }
  @media (max-width: 991px) {
    padding: 50px 0 100px;
  }
  @media (max-width: 991px) {
    padding: 50px 0;
  }
  .small_hd {
    margin-bottom: 70px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  .erndetail_area {
    position: relative;
    @media (max-width: 767px) {
      padding-top: 150px;
    }

    .wrap_earn {
      display: flex;
      align-items: center;
      margin-top: 150px;
      @media (max-width: 1440px) {
        margin-top: 90px;
      }
      @media (max-width: 991px) {
        margin-top: 30px;
      }
      img {
        width: 85px;
      }
      p {
        color: $white;
        font-size: 20px;
        line-height: 33px;
        @media (max-width: 1440px) {
          font-size: 18px;
          line-height: 30px;
        }
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      &.left_in {
        text-align: end;
        justify-content: flex-end;
        @media (max-width: 991px) {
          text-align: left;
          justify-content: flex-end;
          flex-direction: row-reverse;
        }
        img {
          margin-left: 40px;
          @media (max-width: 1440px) {
            margin-left: 30px;
          }
          @media (max-width: 991px) {
            margin-right: 30px;
            margin-left: 0;
          }
        }
        &.scnd_box {
          position: relative;
          right: -60px;
          @media (max-width: 991px) {
            right: 0;
          }
        }
      }
      &.center_in {
        display: block;
        margin-top: 0;
        margin-bottom: -85px;
        @media (max-width: 1440px) {
          margin-bottom: -45px;
        }
        @media (max-width: 991px) {
          display: flex;
          justify-content: flex-end;
          flex-direction: row-reverse;
          text-align: left !important;
          margin-bottom: 0;
          margin-top: 30px;
        }
        img {
          margin-left: 0;
          margin-top: 40px;
          @media (max-width: 991px) {
            margin-right: 30px;
            margin-top: 0;
          }
        }
      }
      &.right_in {
        text-align: start;
        justify-content: flex-end;
        flex-direction: row-reverse;

        img {
          margin-left: 0;
          margin-right: 40px;
          @media (max-width: 1440px) {
            margin-right: 30px;
          }
        }
        &.forth_box {
          position: relative;
          left: -60px;
          @media (max-width: 991px) {
            left: 0;
          }
        }
      }
    }
    .earn_coin {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      top: 300px;
      width: 710px;
      z-index: -1;
      @media (max-width: 1440px) {
        top: 255px;
        width: 620px;
      }
      @media (max-width: 991px) {
        top: 0;
        width: 600px;
        left: 300px;
      }
      @media (max-width: 767px) {
        bottom: auto;
        top: -85px;
        left: 0;
        width: 353px;
        right: 0;
      }
    }
  }
  @media (max-width: 991px) {
    .arrangment {
      display: flex;
      flex-direction: column-reverse;
    }
    .arrangment_btm {
      order: 3;
    }
    .arrangment_top {
      order: 2;
    }
  }
}