@font-face {
    font-family: 'Jost-Bold';
    src: url('../fonts/jost/Jost-Bold.eot');
    src: url('../fonts/jost/Jost-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jost/Jost-Bold.svg#Jost-Bold') format('svg'),
         url('../fonts/jost/Jost-Bold.ttf') format('truetype'),
         url('../fonts/jost/Jost-Bold.woff') format('woff'),
         url('../fonts/jost/Jost-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  @font-face {
    font-family: 'ProductSans-Italic';
    src: url('../fonts/product-sans/ProductSans-Italic.svg#ProductSans-Italic') format('svg'),
         url('../fonts/product-sans/ProductSans-Italic.ttf') format('truetype'),
         url('../fonts/product-sans/ProductSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ProductSans-Bold';
    src: url('../fonts/product-sans/ProductSans-Bold.svg#ProductSans-Bold') format('svg'),
         url('../fonts/product-sans/ProductSans-Bold.ttf') format('truetype'),
         url('../fonts/product-sans/ProductSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ProductSans-Regular';
    src: url('../fonts/product-sans/ProductSans-Regular.svg#ProductSans-Regular') format('svg'),
         url('../fonts/product-sans/ProductSans-Regular.ttf') format('truetype'),
         url('../fonts/product-sans/ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }