@import "../../../assets/styles/_themevar.scss";

.newsletter_sec {
  position: relative;
  &::after {
    background-image: url("../../../assets/images/bowled-images/banner_stars.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
  }
  @media (max-width: 767px) {
    padding: 50px 0 70px;
  }
  .newsletter_area {
    background: rgba($color: #fff, $alpha: 0.1);
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    @media (max-width: 767px) {
      padding: 30px 20px;
    }
    h2.title_head {
      font-size: 65px;
      margin-bottom: 50px;
      @media (max-width: 991px) {
        font-size: 30px;
        margin-bottom: 30px;
      }
      span {
        color: $LinkColor;
      }
    }
  }
  .nwsltr_form {
    position: relative;
    max-width: 920px;
    margin: auto;

    .form-control {
      height: 65px;
      border-radius: 10px;
      padding: 15px 30px;
      width: 99%;
      background-color: $CardColor;
      border: 0;
      color: $white;
      @media (max-width: 767px) {
        height: 60px;
        padding: 15px 20px;
        width: 100%;
      }
    }
    .commonBtn {
      position: absolute;
      right: 0;
      top: 0;
      height: 64px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      @media (max-width: 767px) {
        position: static;
        margin-top: 15px;
        height: 55px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &::before {
        display: none;
      }
      &:hover {
        background: $LinkColor;
      }
    }
    p.error_msg {
      color: $baseColor;
      font-size: 14px;
      margin-top: 5px;
      text-align: start;
    }
  }
}
