.footerset {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    width: 100%;
    margin-top: 35px;

    .footerlis {
        li {
            padding: 0 20px;
            display: inline-block;
            font-size: 14px;
            color: #ffffff8f;
            font-weight: 500;
            border: none;
        }

        li:nth-child(2) {

            border-left: 1px solid;
        }

        li:nth-child(3) {

            border-left: 1px solid;
        }
    }
}