@import '../../../../assets/styles/_var.scss';

.nav-tabs.profileTabStyle.for_raffles{
    margin-top: 0;
}
.edit_page_headingStyle.raffles_container{
    padding-bottom: 50px;
}
.raffles_list.row{
    padding-top: 25px;

    p.text-center{
        color: $light;
    }
}
.raffle_layout{
    padding-left: 0;
    padding-right: 0;
}
.raffles_wrapper{
    padding-bottom: 100px;
}