
$Basefont: "IBM Plex Mono", monospace;
$bodybg: #01012a;
$baseColor: #ff2b6e;
$LinkColor: #0bd7e7;
$CardColor: #020033;
$textBlack: #000000;
$textColor: #3f3f3f;
$titleColor: #0d0c19;
$LightBg: #f7f8fd;
$GradientBtn: #ff2b6e;
$PrimaryBtn: linear-gradient(
  90deg,
  rgba(247, 41, 111, 1) 0%,
  rgba(55, 2, 150, 1) 93%,
  rgba(55, 2, 150, 1) 100%
);

$PrimaryBtnBorder: linear-gradient(
  -90deg,
  rgba(247, 41, 111, 1) 0%,
  rgba(55, 2, 150, 1) 93%,
  rgba(55, 2, 150, 1) 100%
);
$BorderGradient: linear-gradient( 
  90deg,
  rgba(11, 215, 231, 1) 35%,
  rgba(11, 215, 231, 0) 100%
);
$StylishText: linear-gradient(
  90deg,
  rgba(11, 215, 231, 0) 35%,
  rgba(11, 215, 231, 1) 100%
);
$BlueColor: #0e4898;
$ActiveColor: #ff694e;
$textGreen: #32d4a0;
$textLightColor: #8e8e8e;
$white: #ffffff;
$footerBg: #000034;
$cardbg: #fafbfe;
$borderColor: #000000;
$blackBg: #000000;
$fieldBg: #0c0c31;
$fieldBorder: #1e1e41;
$InnerBg: rgba(28, 28, 58, 0.66);
