
$basefont: "Poppins", sans-serif;
$titlefont: "Poppins", sans-serif;
$btnFont: "Poppins", sans-serif;
$bodybgColor: #000;
$bgTopNavBar: #000;
$bgFooterCopy: #fff;
$baseColor: #fff;
$bgSocialIcon: #404040;
$bgfooterSocial: #000;
$bgInput: #000;
$bgInputFocus: rgba(37,38,42,0.7);
$borderFocusInput: rgba(153,78,37,0.38);
$bgDropDown: #1c1b1b;
$bgBlack: #000;
$bgNFTCard:#1E1E1E;
$borderNFTCard:#313337;

$navTextColor: #F7CEB2;

$navDefault: #545454;
$navActive: #fff;

$copyrightText: #000;
$secColor: #535252;
$filterTextColor: #fff;
$subsDescColor: #707070;
$gradiantBg: transparent linear-gradient(90deg, #f7ceb2 0%, #994e25 100%) 0% 0%
  no-repeat padding-box;

$sepratorCard: #404040;

$lightText: #7f7f7f;
$blackText: #000;
$errorText: #900;
$labelTextStyle: #7f7f7f;
$inputBorder: #313337;
$inputTextStyle: #fff;
$socLinkBg: #242429;
$socLinkBorder: #242429;
$bgRaffleCard:#242429;
$tabBorderBottom: rgba(112, 112, 122, 0.3);
$feedbg: #faf7f7;
$faqText: #b4b4b4;
$widgetBg: #000000;
$textorange: #ffa500;
$blackLight: rgba(0, 0, 0, 0.2);
$lightBg: #f9f9f9;
$borderColor: #2F2F2F;
$textColor-70: #707070;
$white: #fff;
$white-60: rgba(255,255,255,0.5);
$black: 000;
$light: #848484;
$boxShadow: 0px 0px 20px #00000012;
$cardSignupOption:#686868;
$linkColor:#277DFF;
$hovercolor: #994e25;
$bgFilter:#2A2A2A;
$mystryboxTitle:#CE9200;

.textShadow {
  -webkit-text-stroke: 0px #eeecec;
  text-stroke: 0px #eeecec;
}