@import "../../../../assets/styles/_var.scss";
@import "../../../../assets/styles/_themevar.scss";

.inner_pages_flow {
  margin-bottom: auto;
  max-width: 760px;
  @media (max-width: 1440px) {
    max-width: 690px;
  }
  @media (max-width: 1199px) {
    max-width: 100%;
  } 
  &.setupPw{
    max-width: 100%;
    padding: 30px 0;
    .rg_title{
      text-align: center;
    }
    .confirm_btn{
      display: flex;
      justify-content: center;
    }
  }
  .rg_title {
    margin-bottom: 35px;
    h2 {
      color: $white;
      margin-bottom: 20px;
      font-weight: 600;
      @media (max-width: 767px) {
        margin-bottom: 10px;
        font-size: 22px;
      }
    }
    p {
      color: $white;
      a {
        color: $baseColor;
        font-weight: 500;
      }
    }
    .backbtn{
      margin-bottom: 30px;
      .wrap_btn{
        flex-direction: row-reverse;  
        .the-arrow{
          margin-left: 0;
          margin-right: 60px !important;
          .shaft{
            transform: rotate(-180deg);
            left: auto;
            right: -33px;
          }
        }
      }
      &:hover{
        .the-arrow{
          .shaft{
            right: -5px;
          }
        }

      }
    }
  }
  .form-check-label {
    color: $white;
    a {
      color: $LinkColor;
    }
  }
  .east_form_input {
    margin-bottom: 30px;
    @media (max-width: 1440px) {
      margin-bottom: 22px;
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  .password-input-style {
    position: relative;
    .show-pw {
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 47px;
      font-size: 16px;
      color: $white;
      opacity: 0.7;
      @media (max-width: 1440px) {
        top: 47px;
        font-size: 14px;
      }
    }
  }
  .register_btn, .verify_btn {
    margin: 50px 0 35px;
    @media (max-width: 1440px) {
      margin: 35px 0 25px;
    }
    @media (max-width: 767px) {
      margin: 30px 0;
    }
    .btn{
      border-radius: 12px !important;
    }
 
  }
  .or_divder {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    @media (max-width: 1440px) {
      margin-bottom: 25px;
    }
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
    span {
      color: $white;
      opacity: 0.6;
      position: relative;
      z-index: 1;
      font-size: 15px;
      background: $bodybg;
      padding: 0 20px;
      left: -10px;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background: $fieldBorder;
      left: 0px;
      top: 13px;
    }
  }
  .social_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .social_btn {
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      display: block;
      .social_btn {
        margin-top: 20px;
      }
    }
  }
}
.verify_page {
  .otp_inputs {
    input {
      width: 60px !important;
      height: 60px !important;
      border-radius: 12px;
      color: $white;
      border: 1px solid $fieldBorder;
      background: $fieldBg;
      &:focus,
      &:focus-visible {
        outline: 1px solid $baseColor !important;
      }
      &:last-child {
        margin-right: 0 !important;
      }
      @media (max-width:767px) {
        width: 40px !important;
      height: 40px !important;
      margin-right: 10px !important;
      }
    }
  }
  .otp_area {
    display: inline-block;
  }
}
.otp_box{
  display: flex;
  flex-direction: column;
  width: fit-content;
  
}
.passwordInst {
  font-family: $basefont;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 19px;
  color: $labelTextStyle;
}
.paswordInfo {
  position: absolute;
  right: 60px;
  top: 14px;
}
.customModal.modal-sm {
  max-width: 767px !important;
  width: 80%;
  top: 50%;
  transform: translateY(-50%) !important;

  @media (max-width: 1024px) {
    top: 10%;
    transform: translateY(10%) !important;
    width: 95%;
  }
}

.checkbox.form-check {
  padding-left: 0px;
  input {
    position: absolute;
    opacity: 0;
  }

  label {
    padding-left: 32px;
    color: $white;
    span {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid $fieldBorder;
      border-radius: 3px;
      left: 0px;
      top: 3px;
    }
    a {
      color: $LinkColor;
      text-decoration: none;
    }
  }
  input:checked ~ label {
    position: relative;

    span {
      &::before {
        position: absolute;
        content: "";
        width: 7px;
        height: 11px;
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        left: 5px;
        top: 2px;
        transform: rotate(45deg);
      }
    }
  }
}

.signUp_style {
  .modal-content {
    background-color: $bgNFTCard;
  }

  .modal-body {
    padding-bottom: 65px;

    p {
      color: $light;
    }
  }
}
.signup_option_style {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  li {
    flex: 1;
    &:nth-child(1) {
      padding-right: 15px;
      @media (max-width: 680px) {
        padding-right: 5px;
      }
    }
    &:nth-child(2) {
      padding-left: 15px;
      @media (max-width: 680px) {
        padding-left: 5px;
      }
    }
    .btn.btn-primary {
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      color: $baseColor;
      font-size: 16px;
      line-height: 35px;

      @media (max-width: 680px) {
        font-size: 12px;
        padding-left: 0px;
        padding-right: 0px;
      }

      &:hover {
        background-color: $baseColor;
        // background-color: $tabBorderBottom;
        color: $white;
      }
      &.isActive {
        background-color: $baseColor;
        color: $white;
      }
    }
  }
}

.hasIcon {
  .form-control {
    padding-left: 30px;
    @media (max-width: 1440px) {
      padding-left: 20px;
    }
  }

  &.icon_userrname {
    .form-control {
      background-image: url(../../../../assets/images/signup/icon_input_user.svg);
      background-repeat: no-repeat;
      background-position: 16px center;

      &:focus {
        background-image: url(../../../../assets/images/signup/icon_input_user_focus.svg);
      }
    }
  }

  &.icon_email {
    .form-control {
      background-image: url(../../../../assets/images/signup/icon_input_email.svg);
      background-repeat: no-repeat;
      background-position: 16px center;
      &:focus {
        background-image: url(../../../../assets/images/signup/icon_input_email_focus.svg);
      }
    }
  }
  &.icon_link {
    .form-control {
      background-image: url(../../../../assets/images/icon_link.png);
      background-repeat: no-repeat;
      background-position: 16px center;
      &:focus {
        background-image: url(../../../../assets/images/icon_link_foucs.png);
      }
    }
  }
  &.icon_art {
    .form-control {
      background-image: url(../../../../assets/images/icon_images.png);
      background-repeat: no-repeat;
      background-position: 16px center;
      &:focus {
        background-image: url(../../../../assets/images/icon_images_focus.png);
      }
    }
  }
  &.icon_phone {
    .form-control {
      background-image: url(../../../../assets/images/icon_phone.png);
      background-repeat: no-repeat;
      background-position: 16px center;
      &:focus {
        background-image: url(../../../../assets/images/icon_phone_focus.png);
      }
    }
  }
  &.icon_date {
    .form-control {
      background-image: url(../../../../assets/images/icon_calender.png);
      background-repeat: no-repeat;
      background-position: 16px center;
      &:focus {
        background-image: url(../../../../assets/images/icon_calender_focus.png);
      }
    }
  }
  &.icon_document {
    .form-control {
      background-image: url(../../../../assets/images/Icon_description.png);
      background-repeat: no-repeat;
      background-position: 16px center;
      &:focus {
        background-image: url(../../../../assets/images/Icon_description_focus.png);
      }
    }
  }
  &.icon_passwword {
    .form-control {
      background-image: url(../../../../assets/images/signup/icon_input_password.svg);
      background-repeat: no-repeat;
      background-position: 16px center;
      &:focus {
        background-image: url(../../../../assets/images/signup/icon_input_password_focus.svg);
      }
    }
  }
  &.icon_edit {
    .form-control {
      background-image: url(../../../../assets/images/signup/icon_input_user.svg);
      background-repeat: no-repeat;
      background-position: 16px center;

      &:focus {
        background-image: url(../../../../assets/images/signup/icon_input_user_focus.svg);
      }
    }
  }
}
.customModal.modal-lg.signUp_style
  .modal-content
  .modal-header
  .modal-title.h4 {
  width: 100%;
  text-align: center;
  font-size: 22px;
}
.profileLink{
  margin-right: 20px;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  @media (max-width: 680px) {
     min-width: 120px !important;
     margin-right: 10px;
  }
}

