.banner_style.carousel.slide {
  max-width: 1341px;
  margin: 0 auto 58px;
  
  @media(max-width:1400px){
    padding-left: 30px;
    padding-right: 30px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
  }
  .carousel-control-prev{
    left: -29px;
    width: 24px;
    @media(max-width:1400px){
      left: 5px;
    }
  }
  .carousel-control-next {
    right: -39px;
    width: 24px;
    @media(max-width:1400px){
      right: -5px;
    }
    @media(max-width:980px){
      right: 0px;
    }
  }
  .carousel-control-prev-icon {
    background: url(../../../assets/images/home/drop_slider_arrow_left.svg) no-repeat;
    height: 60px;
    width: 60px;

    @media (max-width: 767px) {
      background-size: 20px 20px;
      height: 20px;
    }
  }
  .carousel-control-next-icon {
    background: url(../../../assets/images/home/drop_slider_arrow_right.svg) no-repeat;
    height: 60px;
    width: 60px;
    @media (max-width: 767px) {
      background-size: 20px 20px;
      height: 20px;
    }
  }
  .carousel-item {
    img {
      width: 100%;
    }
  }
  .shimmerCustom {
    width: 100%;
  }
  .gif_img_for_banner {
    position: absolute;
    z-index: 10;
    width: 220px;
    height: 220px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    @media (max-width: 650px) {
      width: 150px;
      height: 150px;
    }
    @media (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
  }
}
.banerShimerContainer {
  border: 0px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: white;
  display: flex;
  padding: 16px;
  width: 100%;
}
.bannerShimmer {
  padding-bottom: 35%;
  width: 100%;
  align-self: "center";
}
.bannerShimmer.Shimmer-shimmer-0-1-1 {
  background-size: 1920px 720px;
}
.pointerClass {
  cursor: pointer;
}
